@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  src: url('/src/assets/Inter-Regular.ttf') format('truetype');
  line-height: 1.6;
}

@font-face {
  font-family: 'ibmplex';
  src: url('/src/assets/IBMPlexMono-SemiBold.ttf') format('truetype');
  line-height: 1.6;
}

html {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

.light-mode {
  background-color: #EEEEEE;
  color: rgb(38 38 38);
}

.dark-mode {
  background-color: #181818;
  color: #EEEEEE;
}

#markdown h1, h2, h3 {
  margin: 20px 0;
  font-weight: 700;
  text-decoration: underline;
}

#markdown h1 {
  font-size: 2.6rem;
}

#markdown h2 {
  font-size: 2.2rem;
}

#markdown h3 {
  font-size: 1.8rem;
}

#markdown p {
  margin: 1rem 0;
}

#markdown ul {
  margin: 1rem 0 1rem 10px;
  list-style-type: disc;
}

#markdown ol {
  margin: 1rem 0 1rem 10px;
  list-style-type: decimal;
}

#markdown li {
  margin-left: 10px;
}

#markdown pre {
  margin: 1rem 0;
}

#markdown code {
  border-radius: 5px;
}
